<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Found person from</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Found person from</h1>
<form action="#" th:action="@{/get-person}" th:object="${foundPerson}" method="post">
	<p>
	<div>Фамилия: <input type="text" th:field="*{lastName}"></div>
	<div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name error</div>
	</p>
	<p>
	<div>Имя: <input type="text" th:field="*{firstName}"></div>
	<div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name error</div>
	</p>
	<p><input type="submit" value="Submit"><input type="reset" value="Reset"></p>
</form>
<p>
	<a href="/menu">return to menu</a>
</p>
</body>
</html>
